@model IPagedList<FationShop.Areas.Admin.Framework.Product>
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList;
@using PagedList.Mvc;

<link rel="stylesheet" href="~/Assets/Client/assets/css/account.css">
<link rel="stylesheet" href="~/Assets/Client/assets/css/new.css">
<title>Sản phẩm</title>


<style>
    .pagination {
        justify-content: flex-end;
        margin-top: 100px;
    }

        .pagination > li {
            display: inline-block;
            padding: 6px 0;
            border: 1px solid #ccc;
            border-radius: 2px;
            background-color: #f1f1f1;
            margin: 0 10px;
            cursor: pointer;
            transition: all .3s ease-in-out;
        }

            .pagination > li:hover {
                background-color: #f8452d;
            }

                .pagination > li:hover > a {
                    color: #fff !important;
                }


            .pagination > li > a {
                padding: 15px 15px;
                color: #f8452d;
                font-weight: 500;
                transition: all .3s ease-in-out;
            }

            .pagination > li.active {
                background-color: #f8452d;
            }

                .pagination > li.active > a {
                    color: #fff;
                }
</style>
<link rel="stylesheet" href="~/Assets/Client/assets/css/intro.css">


<div class="Introduce__baner" style="margin-bottom: 15px">
    <div class="items">
        <h4>@ViewBag.Title</h4>
        <ul class="list__title">
            <li><a class="items-font" href="/">Trang chủ</a></li>
            <i class="link__icon fas fa-chevron-right"></i>
            <li><span class="list_item-tab">@ViewBag.Title</span></li>
        </ul>
    </div>
</div>

@if (@ViewBag.searchString != null)
{
<h2 class="product__title" style="margin-top: 50px">Kết quả tìm kiếm từ khóa "@ViewBag.searchString"</h2>
}

<!-- Products -->
<div class="product__overlay"></div>
<div class="new">
    <div class="new-container">
        <div class="new__navbar">
            <div class="new__all">
                <h3 class="new__title">
                    <span>
                        danh mục sản phẩm
                    </span>
                    <i class="fas fa-angle-down down__btn"></i>
                </h3>
                <ul class="new__list">
                    <a href="#" class="new__item-link">
                    <li class="new__item">
                        Trang chủ
                    </li>
                    </a>
                    <a href="#" class="new__item-link">
                    <li class="new__item">
                        Giới thiệu
                    </li>
                    </a>
                    <a href="#" class="new__item-link">
                    <li class="new__item">
                        Sản phẩm
                    </li>
                    </a>
                    <a href="#" class="new__item-link">
                    <li class="new__item">
                        Tin tức
                    </li>
                    </a>
                    <a href="#" class="new__item-link">
                    <li class="new__item">
                        Liên hệ
                    </li>
                    </a>
                </ul>
            </div>
            <div class="new__all">
                <h3 class="new__title">
                    <span>
                        thương hiệu
                    </span>
                    <i class="fas fa-angle-down down__btn"></i>
                </h3>
                <ul class="new__list">
                    <li class="new__item">
                        <label for="vehicle1" class="new__box-color">
                            <input type="radio" class="list__checkbox" id="vehicle11" name="2" value="Bike">
                            <i class="fas fa-check tick-back"></i>
                        </label>
                        <label class="new__cb-label" for="vehicle11">KFC</label>
                    </li>
                    <li for="id2" class="new__item">
                        <label for="vehicle1" class="new__box-color">
                            <input type="radio" class="list__checkbox" id="vehicle22" name="2" value="Bike">
                            <i class="fas fa-check tick-back"></i>
                        </label>
                        <label class="new__cb-label" for="vehicle22">Gogi House</label>
                    </li>
                    <li for="id3" class="new__item">
                        <label for="vehicle1" class="new__box-color">
                            <input type="radio" class="list__checkbox" id="vehicle33" name="2" value="Bike">
                            <i class="fas fa-check tick-back"></i>
                        </label>
                        <label class="new__cb-label" for="vehicle33">Lẩu Wang</label>
                    </li>
                </ul>
            </div>
            <div class="new__all">
                <h3 class="new__title">
                    <span>
                        khoảng giá
                    </span>
                    <i class="fas fa-angle-down down__btn"></i>
                </h3>
                <ul class="new__list">
                    <li class="new__item">
                        <label for="vehicle1" class="new__box-color">
                            <input type="radio" class="list__checkbox" id="vehicle4" name="1" value="Bike">
                            <i class="fas fa-check tick-back"></i>
                        </label>
                        <label class="new__cb-label" for="vehicle4">Giá dưới 100.000₫</label>
                    </li>
                    <li class="new__item">
                        <label for="vehicle1" class="new__box-color">
                            <input type="radio" class="list__checkbox" id="vehicle5" name="1" value="Bike">
                            <i class="fas fa-check tick-back"></i>
                        </label>
                        <label class="new__cb-label" for="vehicle5">100.000₫ - 200.000₫</label>
                    </li>
                    <li class="new__item">
                        <label for="vehicle1" class="new__box-color">
                            <input type="radio" class="list__checkbox" id="vehicle6" name="1" value="Bike">
                            <i class="fas fa-check tick-back"></i>
                        </label>
                        <label class="new__cb-label" for="vehicle6">200.000₫ - 400.000₫</label>
                    </li>
                    <li class="new__item">
                        <label for="vehicle1" class="new__box-color">
                            <input type="radio" class="list__checkbox" id="vehicle7" name="1" value="Bike">
                            <i class="fas fa-check tick-back"></i>
                        </label>
                        <label class="new__cb-label" for="vehicle7">400.000₫ - 500.000₫</label>
                    </li>
                    <li class="new__item">
                        <label for="vehicle1" class="new__box-color">
                            <input type="radio" class="list__checkbox" id="vehicle8" name="1" value="Bike">
                            <i class="fas fa-check tick-back"></i>
                        </label>
                        <label class="new__cb-label" for="vehicle8">Trên 500.000₫</label>
                    </li>
                </ul>
            </div>
            <button class="modal__btn">Lọc</button>
        </div>
        <div class="new__products">
            <div class="new__sort">
                <span class="new__sort-txt">Sắp xếp:</span>
                <select name="" class="new__select">
                    <option value="Mặc định">Mặc định</option>
                    <option value="gia">@Html.ActionLink("Giá: Tăng dần", "Index", new { sortOrder = ViewBag.PriceSort })</option>
                    <option value="gia_desc">Giá: Giảm dần</option>
                    <option value="ten">Tên: A-Z</option>
                    <option value="ten_desc">Tên: Z-A</option>
                    <option value="Mới nhất">Mới nhất</option>
                    <option value="Cũ nhất">Cũ nhất</option>
                </select>
            </div>
            <hr>

            <div class="new__list-pro">
                <div class="product__list">
                    @foreach (var item in Model)
                    {
                        var url = "/san-pham/" + item.MetaTitle + "-" + item.ID;
                        <div class="product__item">
                            <a href="@url" class="pro__item-link">
                                <div class="product__img">
                                    @if (item.PromotionPrice.HasValue)
                                    {
                                        <span class="onsale">@(Math.Ceiling(100 - (item.Price.Value / item.PromotionPrice.Value)*100))%</span>
                                    }
                                    <img src="@item.Image1" class="product__item-img" alt="" width="100%">
                                    <img src="@item.Image2" class="product__item-hidden" alt="" width="100%">
                                </div>
                                <div class="product__name">
                                    <h5 class="product__name-item">@item.Name</h5>
                                    @if (item.PromotionPrice.HasValue)
                                    {
                                        <span><span class="product__price">@(item.Price.HasValue ? item.Price.Value.ToString("N0") + "₫" : "Liên hệ")</span></span>
                                        <span class="price">@(item.PromotionPrice.HasValue ? item.PromotionPrice.Value.ToString("N0") + "₫" : "")</span>
                                    }
                                    else
                                    {
                                        <span><span class="product__price">@(item.Price.HasValue ? item.Price.Value.ToString("N0") + "₫" : "Liên hệ")</span></span>
                                    }
                                </div>
                            </a>
                            <div class="product__icon">
                                <div class="product__ic icon__hover1">
                                    <a href="/them-gio-hang?productID=@item.ID&quantity=1" class="fas fa-cart-plus"></a>
                                </div>
                                <div class="product__ic icon__hover2" style="margin: 0 20px;">
                                    <i class="fas fa-heart"></i>
                                </div>
                                <div class="product__ic icon__hover3">
                                    <i class="fas fa-eye"></i>
                                </div>
                            </div>
                            <div class="product__modal">
                                <div class="modal__title">
                                    <h3 class="modal__h3">thông tin sản phẩm</h3>
                                </div>
                                <div class="modal__body">
                                    <div class="modal__close">
                                        <i class="far fa-times-circle"></i>
                                    </div>
                                    <div class="modal__img">
                                        <div class="modal__main-img">
                                            <img src="@item.Image1" class="pro__main-im" width="100%" alt="">
                                        </div>
                                        <div class="modal__change-img">
                                            <div class="modal__ch img__active">
                                                <img src="@item.Image1" alt="">
                                            </div>
                                            <div class="modal__ch">
                                                <img src="@item.Image2" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal__detail">
                                            <h4 class="modal__detail-title">@item.Name</h4>
                                            <span><span class="modal__price">@item.Price</span>₫</span>
                                            <span class="price">@item.PromotionPrice đ</span>
                                            <p class="modal__detail-p">
                                                @item.Description
                                            </p>
                                            <div class="modal__size">
                                                <span>Kích thước</span>
                                                <select name="">
                                                    <option value="S">S</option>
                                                    <option value="M">M</option>
                                                    <option value="L">L</option>
                                                </select>
                                            </div>
                                            <div class="modal__quanlity">
                                                <span>Số lượng</span>
                                                <input type="number" min="1" id="quantity" value="1">
                                            </div>
                                            <div class="modal__buy">
                                                <a href="/them-gio-hang?productID=@item.ID&quantity=1" class="modal__btn">Thêm vào giỏ</a>
                                                <span class="modal__or">hoặc</span>
                                                <a href="#" class="modal__link">Xem chi tiết</a>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @Html.PagedListPager(Model, page => Url.Action("Index", "Categories", new { page, ViewBag.searchString }))
            </div>
        </div>
    </div>
</div>


<script>
    // Modal

    var popupViews = document.querySelectorAll('.product__modal');
    var popupBtns = document.querySelectorAll('.icon__hover3');
    var closeBtns = document.querySelectorAll('.modal__close');
    var overlay = document.querySelector(".product__overlay");

    //javascript for quick view button
    var popup = function (popupClick) {
        popupViews[popupClick].classList.add('modal__active');
        overlay.classList.add("modal__active");
        document.getElementsByTagName("body")[0].style.overflow = "hidden";

        // Change img in popup
        var childrens = popupViews[popupClick].querySelector(".modal__change-img").children;
        var imgMain = popupViews[popupClick].querySelector(".pro__main-im");
        var imgDiv = popupViews[popupClick].querySelectorAll(".modal__ch");

        imgDiv.forEach((item) => {
            item.addEventListener("click", function (event) {
                imgMain.src = event.target.src;
            })
        })

    }

    popupBtns.forEach((popupBtn, i) => {
        popupBtn.addEventListener("click", () => {
            popup(i);
        });
    });


    // overlay button
    overlay.addEventListener("click", () => {
        overlay.classList.remove("modal__active");
        popupViews.forEach((popupView) => {
            popupView.classList.remove('modal__active');
            overlay.classList.remove("modal__active");
            document.getElementsByTagName("body")[0].style.overflow = "auto";
        });
    })

    //javascript for close button
    closeBtns.forEach((closeBtn) => {
        closeBtn.addEventListener("click", () => {
            popupViews.forEach((popupView) => {
                popupView.classList.remove('modal__active');
                overlay.classList.remove("modal__active");
                document.getElementsByTagName("body")[0].style.overflow = "auto";
            });
        });
    });
</script>