@model FationShop.Areas.Admin.Framework.Blog

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row pt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <h4>Blog</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MetaTitle)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MetaTitle)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SubTitle)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SubTitle)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.Raw(Model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Content)
                        </dt>

                        <dd>
                            @Html.Raw(Model.Content)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Avartar)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Avartar)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Images)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Images)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Status)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Tags)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Tags)
                        </dd>

                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
